rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // ✅ MODE DEVELOPMENT: Benarkan User (Anonymous) baca/tulis
    match /user_baselines/{deviceId} {
      allow read, write: if request.auth != null;
    }
    
    match /blacklisted_devices/{deviceId} {
      allow read: if request.auth != null;
    }
    
    match /security_incidents/{incidentId} {
      allow create: if request.auth != null;
    }
    
    match /verification_logs/{logId} {
      allow read, write: if false; 
    }
  }
}
