name: cryptex_aer_demo
description: A proof-of-concept for the Aer Cryptex Lock.
publish_to: 'none'
version: 1.0.0

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  # Wajib ada untuk kesan goncangan tangan
  sensors_plus: ^5.0.1 
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true