name: cryptex_aer
description: Secure Biometric Authentication System by Captain Aer.
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  sensors_plus: ^5.0.0
  shared_preferences: ^2.2.0
  flutter_jailbreak_detection: ^1.1.0
  flutter_secure_storage: ^9.0.0
  # flutter_vibrate DIBUANG. KITA GUNA NATIVE HAPTIC.

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
