name: cryptex_aer_demo
description: "AER Secure Enclave - Bank Grade Security Protocol"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  # Ikon iOS/Cupertino
  cupertino_icons: ^1.0.2
  
  # Sensor Fizikal (Gegar)
  sensors_plus: ^5.0.0
  
  # Memori Kekal (Ingatan Dosa) - INI YANG TERTINGGAL TADI
  shared_preferences: ^2.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
