name: Francois Build (Final Clean Build)
on:
  workflow_dispatch:
  push:
    branches: [ main, master ]

jobs:
  build-secure-apk:
    runs-on: ubuntu-latest
    
    steps:
      - name: 1. Ambil Kod Kapten
        uses: actions/checkout@v3

      - name: 2. Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: 3. Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: 4. SUNTIKAN PERISAI
        run: |
          rm -rf android
          flutter create . --platforms android --project-name cryptex_aer
          
          # Inject Permissions
          sed -i 's|<application|<uses-permission android:name="android.permission.VIBRATE"/>\n    <application|g' android/app/src/main/AndroidManifest.xml

      - name: 5. Download Dependencies
        run: flutter pub get

      - name: 5b. BEDAH LIBRARY JAILBREAK
        run: |
          JB_GRADLE=$(find $HOME/.pub-cache/hosted/pub.dev/flutter_jailbreak_detection-*/android -name "build.gradle")
          if [ ! -z "$JB_GRADLE" ]; then
            sed -i 's/android {/android { namespace "flutter.jailbreak_detection"/g' $JB_GRADLE
            echo "android { compileOptions { sourceCompatibility JavaVersion.VERSION_17; targetCompatibility JavaVersion.VERSION_17 }; kotlinOptions { jvmTarget = '17' } }" >> $JB_GRADLE
          fi
          
          JB_MANIFEST=$(find $HOME/.pub-cache/hosted/pub.dev/flutter_jailbreak_detection-*/android/src/main -name "AndroidManifest.xml")
          if [ ! -z "$JB_MANIFEST" ]; then
             sed -i 's/package="appmire.be.flutterjailbreakdetection"//g' $JB_MANIFEST
          fi

      - name: 6. Build APK Release
        run: flutter build apk --obfuscate --split-debug-info=./debug_info --release

      - name: 7. Simpan APK
        uses: actions/upload-artifact@v4
        with:
          name: cryptex-aer-secure-final
          path: build/app/outputs/flutter-apk/app-release.apk
